* { -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }


textarea {
  background-image: linear-gradient(#F1F1F1 50%, #F9F9F9 50%);
  background-size: 100% 4rem;
  border: 1px solid #CCC;
  width: 100%;
  line-height: 2rem;
  margin: 0 auto;
  padding: 15px 8px;
}

h4{
  padding-left: 5px;
  margin: 10px 0px 10px;
  
  
  }

.comment-txt-area{

  display: flex;
flex-direction: column;
align-items: center;
}

.comments-display{
  border-top: 0.5px solid rgb(0, 0, 0);
  border-left: 0.5px solid rgb(0, 0, 0);
  border-right: 0.5px solid rgb(0, 0, 0);
  -webkit-box-shadow: inset 0px 7px 13px -3px rgba(0,0,0,0.26);
  -moz-box-shadow: inset 0px 7px 13px -3px rgba(0,0,0,0.26);
  box-shadow: inset 0px 7px 13px -3px rgba(0,0,0,0.26);
  margin-top: 5px;
  padding: 5px;
  border-radius: 24px 30px 10px 10px;
  -moz-border-radius: 24px 30px 10px 10px;
  -webkit-border-radius: 24px 30px 10px 10px;
  border: 0px solid #000000;
  overflow: hidden;
}

.container2{
  height: 100%;
  height: 99%;
  overflow: auto;
}



.btn-comment {
  appearance: none;
  background-color: #000000;
  border: 2px solid #1A1A1A;
  border-radius: 15px;
  box-sizing: border-box;
  color: #FFFFFF;
  cursor: pointer;
  display: inline-block;
  font-family: Roobert,-apple-system,BlinkMacSystemFont,"Segoe UI",Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
  font-size: 16px;
  font-weight: 600;
  line-height: normal;
  margin: 0;
  min-height: 60px;
  min-width: 0;
  outline: none;
  padding: 16px 24px;
  text-align: center;
  text-decoration: none;
  transition: all 300ms cubic-bezier(.23, 1, 0.32, 1);
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  width: 40%;
  will-change: transform;
}

.btn-comment:disabled {
  pointer-events: none;
}

.btn-comment:hover {
  box-shadow: rgba(0, 0, 0, 0.25) 0 8px 15px;
  transform: translateY(-2px);
}

.btn-comment:active {
  box-shadow: none;
  transform: translateY(0);
}