.formAdmin{
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 80%;
    background-color: rgb(246, 246, 246);
    padding: 40px;
    &>input{
        margin: 10px;

    

    }

    border: 0.5px solid rgb(0, 0, 0);
    -webkit-box-shadow: inset 0px 7px 13px -3px rgba(0,0,0,0.26);
    -moz-box-shadow: inset 0px 7px 13px -3px rgba(0,0,0,0.26);
    box-shadow: inset 0px 7px 13px -3px rgba(0,0,0,0.26);
    margin-top: 5px;
    padding: 5px;
    border-radius: 24px 30px 10px 10px;
    -moz-border-radius: 24px 30px 10px 10px;
    -webkit-border-radius: 24px 30px 30px 30px;
    border: 0px solid #000000;
    overflow: hidden;
    padding-bottom: 30px;

.create-input{

    width: 90%;
    padding: 8px;
    margin: 10px;
    border-radius: 15px;
    outline: none;
    box-shadow: inset;
    border: 0px solid;
    border: solid 1.5px #565253;
    -webkit-transition: 1s; 
    transition: 1s;
    
    }
    
    .create-input:hover{
        box-shadow: 0 0 5pt 0.5pt #565252;
    
    }
    
    
    .create-input:focus{
    box-shadow: 0 0 5pt 2pt #565252;
    outline-width: 0px;
    }


}


.create-button{
    padding: 15px 40px;
    background: #000;
    border:0;
    color: #fff;
    text-transform: uppercase;
    font-family: helvetica;
    font-size: 12px;
    letter-spacing: 3px;
    position: relative;
    transition:         all .4s cubic-bezier(0.645, 0.045, 0.355, 1);
    cursor: pointer;
    display: block;
    margin: 10px auto;
    width: 50%;

}




@media (min-width:768px){
    .formAdmin{
        padding-bottom: 100px;
        width: 30%;
    }



}