.form__field{
width: 300px;
padding: 8px;
margin: 10px;
border-radius: 15px;
outline: none;
box-shadow: inset;
border: 0px solid;
border: solid 1.5px #565253;
-webkit-transition: 1s; 
transition: 1s;

}

.form__field:hover{
    box-shadow: 0 0 5pt 0.5pt #565252;

}


.form__field:focus{
box-shadow: 0 0 5pt 2pt #565252;
outline-width: 0px;
}

.filtroHome{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.filtroComida{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
   
}

select {
    appearance: none;
    border: 1;
    outline: 1;
    font: inherit;
    width: 17rem;
    background-color: white;
    padding: 1rem 1rem 1rem 1rem;
    background: white;
    color: rgb(0, 0, 0);
    border-radius: 0.25em;
    box-shadow: 0 0 1em 0 rgba(0, 0, 0, 0.2);
    margin-right: 10px;
    cursor: pointer;
    &::-ms-expand {
      display: none;
    }
   
    &:focus {
      outline: none;
    }
    option {
      color: inherit;
      background-color: var(--option-bg);
    }
  }