header{
 background-color: rgb(32, 30, 30);
 box-shadow: 0 0 25px 0 black;
 
}




nav{
padding: 10px;

}


.nav-bar{

    display: flex;
    list-style: none;
    justify-content: space-between;
    align-items: center;
    color: rgb(255, 255, 255);
    text-decoration: none;
    
}

a.nav-link-active{ 
    margin: 20px;
    color: rgb(255, 255, 255);
    text-decoration: none;
}

.nav-link{

    margin: 14px;
    color: rgb(255, 255, 255);
    text-decoration: none;

}


.nav-link-active>img{
    height: 65px;
    margin-left: 40px;
    margin-right: 20px;
    

}

@media (max-width:768px){

    .header{
   
        justify-content: center;
        
    }
    .nav-bar{
        flex-direction: column;
        background-color: rgb(32, 30, 30);
        width: 100% ;
      

    }

}