@import '../utils/variables.scss';

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box; 
    font-family: $font;
}



main{
    background-color: #303841;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    padding-bottom: 50px;
    min-height: 100vh;
    padding-top: 80px;
}