.reservationCard{
    margin-top:15px;
    background-image: url("https://img.freepik.com/vector-gratis/diseno-papel-carta-blanco-blanco_53876-118304.jpg?w=740&t=st=1702850803~exp=1702851403~hmac=72a85fd73f5d581008e9a498e20f5502853235423c874b53348c740ae241799e");
    background-repeat: no-repeat;
    width: 100;
    padding: 3.5rem;
    
}