.restaurantCard{
    display: flex;
    flex-direction: column;
    padding:2rem;
    background-color: #e6e6e6;
    margin: 20px;
    padding-bottom: 70px;
    border-radius: 5px;
    

}

.optionsAdmin{
display: flex;
margin-top: 40px;
border: 3px solid #73AD21;
width:fit-content;

}

// @media (min-width:768px){
//     .restaurantList{
//         grid-gap: 10px; 
//         grid-auto-rows: auto; 
//         justify-content: center; 
//         grid-template-columns: repeat(2, 300px);
//     }

// }